.Chart-Image,
.Activity-Card {
	width: 100%; //max-width: 400px;
	.Red {
		color: red;
	}
	.Green {
		color:green;
	}
}

.Activity-Title {
    text-align: left;
    padding: $padding-md $padding-sm $padding-xs $padding-sm;
    letter-spacing: .05rem;
}

.Activity-Card {
    box-shadow: 0 4px $padding-xs 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 50px;
    background-color: $white-color;
    margin-top: 10px;
}

.Activity-Card-Table {
	width: 100%;
	height: 100%;
	vertical-align: middle;
	margin: 10px;
}

.Activity-Card-Avatar {
    border-radius: 50%;
    width: 20px;
}

.Overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 89%, .9);
    &.Show {
        display: block;
    }
}

.Overlay-Close-Button {
    position: absolute;
    top: $padding-sm;
    right: $padding-sm;
    font-size: 32px;
    color: $primary-color-light;
}

.Text-Small {
	font-size: 10px;
}