
$padding-xs: 8px;
$padding-sm: 16px;
$padding-md: 32px;
$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 32px;
$margin-xxl: 160px;


$font-family:    "Avenir Next", "Avenir", sans-serif;
$primary-background-color: rgb(244, 243, 239);
$primary-background-color-light: rgba(244, 244, 239, 0.8);
$primary-color: rgb(70, 70, 70);
$primary-color-light: rgba(70, 70, 70, 0.8);
$white-color: rgb(255, 255, 255);