$font-family:    "Avenir Next", "Avenir", sans-serif;
$primary-background-color: rgb(244, 243, 239);
$primary-background-color-light: rgba(244, 244, 239, 0.8);
$primary-color: rgb(70, 70, 70);
$primary-color-light: rgba(70, 70, 70, 0.8);